body {
    background-color: #f1faee;
}

button {
    font-size: 10px;
    background-color: #4f9698;
}

h1,
h2 {
    color: black;
}

#signup {
    background-color: #1c6de0;
    color: #f1faee;
}

span {
    color: #e0440b;
}

.tag {
    background-color: #273ab9;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
    font-weight: 700;
    text-decoration: none;
}

footer a {
    color: #255dd6;
}

h2+button {
    font-size: 20px;
}

footer>a {
    color: #457b9d;
}

input[type="password"] {
    color: greenyellow;
}

a[href*="google"] {
    color: #1d3557;
}


.post a:hover {
   background-color: #e0440b;
   color: #f1faee;
}


.post button:active {
    background-color: #02c39a;
}

.post:nth-of-type(2n) {
    background-color: #dfe8dc;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple;
}

p::selection {
    background-color: #fcbf49;
}

.post button:hover {
    background-color: #e63946;
    color: #f1faee;
}

button:hover {
    background-color: olive;
    color: pink;
}

button {
    background-color: rgb(81, 227, 84) !important;

}